@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,700,600italic,700italic,800,800italic);

/* .pdf-andamento-status {
  width: 25%;
  transform: rotate(45deg);
  text-align: center;
  padding: 15px;
  background-color: lightgreen;
} */

/* .lista-sequencial-item > div > span:first-child:hover {
  cursor: 'move';
} */

/* .todos-container {
  display:none;
} */

.list-group-box-done {
  margin-top:5px;
}

/* #addTodo {
  padding-top:9px;
  padding-bottom:9px;
} */

.user-todos {
  margin-bottom:5px;
}

.contrato-container {
  display:none;
}

#accordion-procedimentos label {
  display:block;
}

#accordion-procedimentos label:first-of-type {
  padding-left:30px;
}

.procedimentos-alterar-container {
  margin-top:15px;
}

.lista-procedimento-opcoes {
  margin-top:5px;
}

.lista-procedimento-opcoes li {
  padding:2px 0;
}

.alterar-elemento,
.alterar-elemento-adicionar-opcao,
.alterar-elemento-gravar,
.alterar-elemento-excluir,
.alterar-opcao,
.alterar-opcao-gravar,
.alterar-opcao-excluir {
  float:right;
}

.data-entrada-faixa-title {
  font-size:14px;
  /* text-align:center; */
}

.data-entrada-faixa {
  /* text-align:center;  */
  float:right;
  margin-top:0;
  margin-bottom:0;
  margin-right:15px;
  font-size:16px;
  font-weight:bold; 
}

.pdf-logo-container {
  text-align:center;
}

.text-left {
  text-align: left;
}

.print-info {
  margin-top:5px;
  margin-bottom:5px;
  font-size:8px;
  text-align: right;
}

/* .print-info p {
  width:50%;
  margin:0 auto;
} */

.pdf-header-text {
  margin:5px 0;
}

.pdf-header-container {
  margin-top:0;
  margin-bottom:0;
}

.tabela-amostras-indisponivel {
  background-color: yellow !important;
}

#tabela_amostras thead tr:first-of-type .sorting:after,
#tabela_amostras thead tr:first-of-type .sorting_asc:after {
  display:none;
  cursor:initial;
}

.tabela-andamentos-header, .tabela-movimentos-header {
    margin-top: 30px;
    margin-bottom:0;
}

.tabela-principal {
  margin-top: 15px;
  margin-bottom:0;
}

.ui-state-highlight {
  background-color:  rgba(191, 220, 7, 0.3)
}
.ui-sortable-placeholder {

}
table.tabela-movimentos-header {
  /* width:50%; */
  margin: 30px auto 0 auto;
}

table.tabela-movimentos {
  /* width:50%; */
  margin: 15px auto;
}

.tabela-amostras-container-content {
  /* -webkit-column-count: 5;
  -moz-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-gap: 40px; 
  -moz-column-gap: 40px; 
  column-gap: 40px;

  -webkit-column-rule: 4px solid #eceeef; 
  -moz-column-rule: 4px solid #eceeef; 
  column-rule: 4px solid #eceeef;

  column-fill: balance; */
}

.tabela-amostras-pedido, .tabela-amostras-pedido-alt {
  float:left;
  margin-right:15px;
  /* display:block; */
  border-spacing:0;
  border:none;
}

.tabela-amostras-pedido tr,
.tabela-amostras-pedido-alt tr {
  padding-top:2px;
  padding-bottom:2px;
}

.fea-pdf {
  padding:0;
}

.tabela-principal, .tabela-andamentos, .tabela-movimentos, .tabela-movimentos-header, .tabela-andamentos-header, .tabela-rodape {
  font-size:12px;
}
table.tabela-amostras-pedido, table.tabela-amostras-pedido-alt {
  width: 20%;
  max-width: 100%;
  font-size:8px;
}

table.tabela-principal th, table.tabela-rodape th, .tabela-movimentos-header th, .tabela-andamentos-header th {
  background-color: #F3F3F3;
}

.tabela-andamentos-header, .tabela-andamentos, .tabela-movimentos, .tabela-movimentos-header {
  text-align:left;
}

table.tabela-principal th, table.tabela-principal td,
table.tabela-rodape th,
table.tabela-rodape td,
table.tabela-andamentos th,
table.tabela-andamentos td,
table.tabela-movimentos th,
table.tabela-movimentos td,
table.tabela-andamentos-header th,
table.tabela-andamentos-header td,
table.tabela-movimentos-header th,
table.tabela-movimentos-header td {
  padding: 5px;
}

table.tabela-amostras-pedido th,
table.tabela-amostras-pedido td,
table.tabela-amostras-pedido-alt th,
table.tabela-amostras-pedido-alt td {
  padding: 0;
}

table.tabela-principal tbody tr th:not(:first-child),
table.tabela-principal tbody tr td:not(:first-child) {
  text-align:right;
}

table.tabela-amostras-pedido thead tr th:last-child,
table.tabela-amostras-pedido tbody tr td:last-child,
table.tabela-amostras-pedido-alt thead tr th:last-child,
table.tabela-amostras-pedido-alt tbody tr td:last-child {
  text-align:right;
}

/* table.tabela-amostras-pedido thead tr th:nth-child(2),
table.tabela-amostras-pedido tbody tr td:nth-child(2),
table.tabela-amostras-pedido-alt thead tr th:nth-child(2),
table.tabela-amostras-pedido-alt tbody tr td:nth-child(2) {
  text-align:center;
} */

table.tabela-amostras-pedido tbody tr:first-child th,
table.tabela-amostras-pedido tbody tr:first-child td,
table.tabela-amostras-pedido-alt tbody tr:first-child th,
table.tabela-amostras-pedido-alt tbody tr:first-child td {
  border-top:none;
}

table.tabela-rodape {
  margin-top:15px;
  margin-bottom:0;
}

#tabela_amostras thead tr:first-of-type .sorting:nth-child(2),
#tabela_amostras thead tr:first-of-type .sorting:nth-child(3),
#tabela_amostras thead tr:first-of-type .sorting:nth-child(4),
#tabela_amostras thead tr:first-of-type .sorting_asc:nth-child(5) {
  cursor:initial;
}

.relatorios-box {
  margin-bottom:30px;
}

.hidden-th {
  visibility: hidden;
}

.ra-box {
  display:none;
}

.sequencia-laboratorio {
  /* display:block; */
  opacity:0;
  margin-bottom:15px;
}

.icon-blue {
  color:#003A6C;
}

.ver-sugestoes {
  /* display:none; */
  margin-top:15px;
}

.lista-sugestao-numeros {
  display:none;
  position:absolute;
  top:100%;
  margin-top:15px;
  padding:15px;  
  border-radius:4px;
  background-color: #003A6C;
  color:#fff;
  z-index:100000;
  overflow-y: auto;
  height:200px;
}

#tabela_amostras tbody tr  {
  cursor: pointer;
}

.sequencial-box-check {
  display:none;
}


/* .excel-icon {
} */

/* td.details-control {
  background: url('../resources/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../resources/details_close.png') no-repeat center center;
} */

/* TABS - ESTILOS */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #003056;
  border: 1px solid #003056;
  border-bottom-color: #002e53;
}

.nav-tabs>li>a:hover {
  border-bottom-color: #002e53;
}

.nav-tabs {
  border-bottom:1px solid #002e53;
}

.ajs-message.ajs-custom { color: #31708f;  background-color: #d9edf7;  border-color: #31708f; }

.home-logo-central-link {
  max-width:100%;
  max-height:40px;
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  /* width: 40%; */
  /* height: 50%; */
  /* padding-top: 100px; */
  /* background: red; */
  /* color: white; */
  /* text-align: center; */
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); */

}

.select2-filtro-amostras {
  width:100%;
}

.select2-dropdown {
  z-index: 10000 !important;
}

body {
  font-family: 'Open Sans';
  font-weight:300;
  padding-top: 55px;
  background-color:#ededed;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.icone-usuario {
	color:white;
}
.radios {
	margin-bottom:10px;
}
li.select2-selection__choice {
  background-color:#0092db !important;
  color:white;
  border:none !important;
} 
span.select2-selection__choice__remove {
  color:white !important;
}
.lost-password-box {
  display:block;
  color:#fff;
  transform: translateY(10px);
  font-size:12px;
}

.blank-space {
  margin-top:10px;
  margin-bottom:10px;
}

.blank-space-down {
  margin-bottom:20px;
}

/* NAVBAR - ESTILOS */

.navbar-custom {
  background-color: #004277;
  border-color: #003056;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #003056;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #003056;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #003056;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #002e53;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #003056;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #003056;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}

/* (FIM) NAVBAR - ESTILOS */

/* .adicionar-elemento-input {
  width:80%;
} */

.opcoes-box, .sequencial-box {
  display:none;
}

.obs-box {
  display:none;
}

.badge-opcao {
  background-color: green;
}

.lista-amostras-contagem {
  margin-top:10px;
}

.cc-box {
  display:none;
}

.cc-box.pedido-alterar {
  display:block;
}

.panel-group-opcao {
  margin-top:10px;
}

.procedimento-opcao {
  /* display:none; */
}

.block {
  display:block;
}

.amostra-sequencial:not(.testemunho) {
  width:40% !important;
}

.amostra-sequencial-complemento:not(.testemunho) {
  width:20% !important;
}

.numero-input-display {
  margin-bottom:5px;
}

.numero-input-display:not(.testemunho) {
  width:25% !important;
  margin-bottom:5px;
}

/* .numero-cc {
  width:22% !important;
}

.numero-coletor {
  width:17% !important;
}

.numero-natureza {
  width:13% !important;
}

.numero-do-furo {
  width:17% !important;
}

.numero-processo-amostragem {
  width:17% !important;
} */

.lista-amostras-confirmar {
  margin-top: 15px;
  margin-bottom: 15px;
}

.lista-sequencial-alterar-btn {
  padding:9px 12px;
}

/* DEIXAR LIGADO COM JQUERY OS DOIS PROXIMOS */

.input-group .form-control {
  position:initial;
}

.animated > .input-group >.lista-sequencial-numero-campo.form-control {
  position:relative !important;
}

.numero-autocomplete-ajax {
  display:none;
}

.numero-autocomplete {
  position:absolute;
  top:59px;
  left:15px;
  z-index:1000;
  border-radius: 5px;
  border-top:none;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}

.numero-autocomplete li.active {
  background-color:#f5f5f5;
}

.numero-autocomplete li {
  cursor: pointer;
  background-color: white;
  border:none;
  padding-left:15px;
  padding-right:15px;
  padding-top:5px;
  padding-bottom:5px;
  border-bottom:1px solid #f5f5f5;
  /* transition: background-color .3s ease-in-out; */
}

.numero-autocomplete li:hover {
  background-color:#f5f5f5;
  /* transition: background-color .3s ease-in-out; */
}

.numero-autocomplete li:first-of-type {
  /* padding: 10px 0 0 0; */
}

.numero-autocomplete li:last-of-type{
  border-bottom:nonoe;
  padding-bottom:5px;
}

.numero-de-campo-display, .numero-display {
  position:relative;
  text-transform: uppercase;
}

::-webkit-input-placeholder { /* WebKit browsers */
  text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  text-transform: none;
}
::placeholder { /* Recent browsers */
  text-transform: none;
}

.numero-de-testemunho-display {
  width: 100%;
}

.btn-amostras {
  display:none;
}

.btn-amostras.pedidos-alterar {
  display:inline-block;
}

/* .amostra-sequencial:nth-of-type(2) {
  margin-left:5px;
} */

/* .adicionar-sequencial, .limpar-sequencial {
  margin-left: 5px;
  float: left;
} */

/* [contenteditable="true"]:focus::before{
  content:"Edit Me!";
} */

.table-responsive {
  overflow-x: visible;
}

.tab-parametros-container {
  margin-top:15px;
}

.numlab-latest-out {
  display:none;
}

.numlab {
  opacity:0;
  /* border:0; */
  display:none;
}

.lista-amostras-container.alterar {
  display:none;
  margin-top:15px;
}

#btnGravarLote {
  display:none;
}

.lista-amostras-container:not(.testemunho) {
  column-count: 4;
  margin:15px 0 30px 0;
}

.lista-amostras-container.testemunho {
  column-count: 2;
  margin:15px 0 30px 0;
} 

.lista-amostras-container.testemunho >  ul > li > div > input.lista-sequencial-numero-campo {
  font-size:14px !important;
}

/* .lista-amostras-container {
  margin:10px 0;
} */

/* .lista-amostras-sequencial {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 100vh;
}
.lista-amostras-sequencial li {
  flex: 0 0 0;
  width: 27%;
} */

.lista-amostras-sequencial > li > .input-group > .input-group-btn > a.disabled {
  /* display:none; */
}

.send-to-trash {
  animation: sendToTrash .7s normal 1 ease-in-out forwards;
}

@keyframes sendToTrash {
  from {
  }
  to {
    transform: translateX(100%);
    opacity:0;
    z-index:-1000;
    width:0;
  }
}

/*  font awesome animations */

.fa-bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 1s infinite linear;
  -o-animation: bounce 1s infinite linear;
  -webkit-animation: bounce 1s infinite linear;
  animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}

/* Icon pulse */
.fa-pulse {
	display: inline-block;
	-moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}


/* send to trash animation */

.animated {
  animation-duration: .55s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.lightSpeedOut, .animated.fadeOutRight, .animated.bounceOutRight, .animated.zoomOutRight {
  animation-duration: .275s;
  /* animation-timing-function: cubic-bezier(.49,.04,.02,1); */
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .55s;
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOutRight {
  animation-name: bounceOutRight;
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.bounceOutDown {
  animation-name: bounceOutDown;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  animation-name: bounceOut;
}

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

.zoomOutRight {
  animation-name: zoomOutRight;
}

@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.flipOutY {
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.flipOutX {
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}

@keyframes lightSpeedOut {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(.95, .95, .95);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  backface-visibility: visible;
  animation-name: flip;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@keyframes wobble {
  from {
    transform: none;
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: none;
  }
}

.wobble {
  animation-name: wobble;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

/* @keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
} */

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

.zoomOutLeft {
  animation-name: zoomOutLeft;
}


@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  animation-name: hinge;
}

.amostras-remover-repetidas > span.title {
  margin-left: 25px;
}

.icon {
  background: #eeeeee;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 50px auto 0;
  border-radius: 0.5px;
  transition: box-shadow .2s ease;
}
.icon:hover {
  box-shadow: 0 0 1px rgba(10, 10, 10, 0.3);
}

.icon:hover .lid, .icon:hover .lidcap {
  transform: rotate(10deg);
  margin-bottom: 1.5px;
}

.lidcap, .lid, .bin {
  position: absolute;
}

.lidcap, .lid {
  border-top-left-radius: 0.4px;
  border-top-right-radius: 0.4px;
  background: #111;
  transition: transform .2s linear, margin .2s linear;
}

.lidcap {
  bottom: 13.8px;
  left: 9px;
  height: 1px;
  width: 2px;
}

.lid {
  bottom: 12px;
  left: 3px;
  width: 14px;
  height: 2px;
}

.bin {
  bottom: 0;
  left: 4px;
  width: 10px;
  border-top: 12px solid #111;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

i.lista-formato-sequencia-btn-remover:before {
  transition: color .3s ease-out;
}

i.lista-formato-sequencia-btn-remover:hover:before {
  cursor:pointer;
  content: "\f014";
  color:red;
}

.lista-projetos-amotra {
  margin-left: 1.8em;
}



.radio-alterar-box {
  margin:15px 0;
}

.alterar-amostra-hr {
  background-color:#d0d0d0;
  height:2px;
}

.alterar-formato {
  /* display:inline-block; */
  /* padding:5px; */
}

.carregar-box {
  /* margin-top:15px; */
}

.movimento-adicionar-titulo-container {
  display:none;
}

.lab-box {
  /* border:1px solid black; */
}

.sequencia-campo-container, .sequencia-testemunho-container, .sequencia-laboratorio-container {
  margin-top:15px;
}

.amostras-remover-repetidas > i {
  transition: color 1s ease-in-out, transform 3s ease-in-out;
}

.amostra-nao-cadastrada {
  border:1px solid yellow !important;
}

.amostras-remover-repetidas:hover > i {
  color:red;
}

.lista-sequencial-ajax, .gravar-pedido-loader {
  display:none;
}

.lista-sequencial-item-btn {
  text-decoration:none;
  /* position:relative; */
}

/* .lista-sequencial-item-duplicar:after {
  position:absolute;
  right:0;
  bottom:0;
  background-color:#000;
  color:#fff;
  content: 'Duplicar';
  opacity:0;
}


.lista-sequencial-item-remover:after {
  position:absolute;
  right:0;
  bottom:0;
  background-color:#000;
  color:#fff;
  content: 'Remover';
  opacity:0;
}

.lista-sequencial-item-btn:hover:after {
  opacity:1;
} */


.imprimir-atuais-icon {
  /* position:relative; */
}

.imprimir-atuais-icon:after {
  position:absolute;
  top:5px;
  right:5px;
  width:30%;
  height:30%;
  border-radius:50%;
  padding:5%;
  background-color:black;
  color:white;
  content: '';
}

.lista-projetos-container:not(.alterar) {
  display:none;
}

.total-amostras:not(.alterar) {
  width: 33%;
  float:left;
}

tr.highlight {
    background-color: #00c0ef !important;
}

.total-amostras:not(:first-of-type) {
  cursor: pointer;
}

.lista-sequencial-numero-campo, 
.lista-sequencial-numero-campo + span, 
.lista-sequencial-item .numero-laboratorio  {
  text-transform: uppercase;
  font-size:10px;
  padding:4px 8px;
}
body.amostra-testemunho .lista-sequencial-numero-campo,
body.amostra-testemunho .lista-sequencial-numero-campo + span, 
body.amostra-testemunho .lista-sequencial-item .numero-laboratorio {
  padding:6px 12px;
}

/* .lista-sequencial-numero-campo {
  width:80%;
  padding:5px;
  cursor:pointer;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
} */

/* .lista-sequencial-item-remover:active, .item-remover-hack {
  position:absolute;
  top:0;
  right:0;
} */

/* .lista-sequencial-item:before {
  position:absolute;
  top:0;
  right:0;
  content: "\f014";
  width:40px;
  height:40px;
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  opacity:0;
}

.lista-sequencial-item:hover:before {
  opacity:1;
} */

.user-thumbs, .usuario-thumbnail {
  width:22px;
  height:22px;
  margin-right:5px;
}

.user-thumbs-obs {
  width:38px;
  height:38px;
  /*margin-right:5px;*/
}

#tarefa-historico-opcoes {
  /*display:none;*/
}

.popover #tarefa-historico-opcoes {
  /*display:block !important;*/
}

.projeto-coletores {
  /*padding-left: 0!important;*/
}

.bg-gray {
    color: #000;
    background-color: #d2d6de !important
}

.bg-gray-light {
    background-color: #f7f7f7
}

.bg-black {
    background-color: #111 !important
}

.bg-red,
.callout.callout-danger,
/* .alert-danger, */
.alert-error,
.label-danger,
.modal-danger .modal-body {
    background-color: #dd4b39 !important
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
    background-color: #f39c12 !important
}

.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
    background-color: #00c0ef !important
}

.bg-blue {
    background-color: #0073b7 !important
}

.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
    background-color: #3c8dbc !important
}

.bg-green,
.callout.callout-success,
/* .alert-success, */
.label-success,
.modal-success .modal-body {
    background-color: #00a65a !important
}

/* .alert-success {
  color:#fff;
} */

.bg-navy {
    background-color: #001f3f !important
}

.bg-teal {
    background-color: #39cccc !important
}

.bg-olive {
    background-color: #3d9970 !important
}

.bg-lime {
    background-color: #01ff70 !important
}

.bg-orange {
    background-color: #ff851b !important
}

.bg-fuchsia {
    background-color: #f012be !important
}

.bg-purple {
    background-color: #605ca8 !important
}

.bg-maroon {
    background-color: #d81b60 !important
}

.bg-gray-active {
    color: #000;
    background-color: #b5bbc8 !important
}

.bg-black-active {
    background-color: #000 !important
}

.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
    background-color: #d33724 !important
}

.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
    background-color: #db8b0b !important
}

.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
    background-color: #00a7d0 !important
}

.bg-blue-active {
    background-color: #005384 !important
}

.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
    background-color: #357ca5 !important
}

.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
    background-color: #008d4c !important
}

.bg-navy-active {
    background-color: #001a35 !important
}

.bg-teal-active {
    background-color: #30bbbb !important
}

.bg-olive-active {
    background-color: #368763 !important
}

.bg-lime-active {
    background-color: #00e765 !important
}

.bg-orange-active {
    background-color: #ff7701 !important
}

.bg-fuchsia-active {
    background-color: #db0ead !important
}

.bg-purple-active {
    background-color: #555299 !important
}

.bg-maroon-active {
    background-color: #ca195a !important
}

[class^="bg-"].disabled {
    opacity: .65;
    filter: alpha(opacity=65)
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px
}

.info-box small {
    font-size: 14px
}

.info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px
}

.info-box .progress,
.info-box .progress .progress-bar {
    border-radius: 0
}

.info-box .progress .progress-bar {
    background: #fff
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2)
}

.info-box-icon>img {
    max-width: 100%
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px
}

.progress-description,
.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.info-box-text {
    text-transform: uppercase
}

.info-box-more {
    display: block
}

/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box.box-danger {
  border-top-color: #dd4b39;
}
.box.box-warning {
  border-top-color: #f39c12;
}
.box.box-success {
  border-top-color: #00a65a;
}
.box.box-default {
  border-top-color: #d2d6de;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}
.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}
.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .border-right {
  border-right: 1px solid #f4f4f4;
}
.box .border-left {
  border-left: 1px solid #f4f4f4;
}
.box.box-solid {
  border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444444;
}
.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-danger {
  border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-success {
  border: 1px solid #00a65a;
}
.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff;
}
.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}
.box .box-group > .box {
  margin-bottom: 5px;
}
.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
  border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}
.chart-legend {
  margin: 10px 0;
}
@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}
.box-comments {
  background: #f7f7f7;
}
.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
  content: " ";
  display: table;
}
.box-comments .box-comment:after {
  clear: both;
}
.box-comments .box-comment:last-of-type {
  border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
  padding-top: 0;
}
.box-comments .box-comment img {
  float: left;
}
.box-comments .comment-text {
  margin-left: 40px;
  color: #555;
}
.box-comments .username {
  color: #444;
  display: block;
  font-weight: 600;
}
.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}